.modaldialogPostIt{
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    z-index: 5;
    top: 0;
    justify-content: center;
    flex-direction: column;
    display: flex;
    transition: opacity .3s ease-out;
}

.modalContent{
    display: table;
    transition: all .3s ease-out;
    height: 30%;
    width: 60%;
    align-self: center;
    text-align: start;
    border-radius: 3px;
    transition: opacity .6s ease-out;
}

.headerModal{
    display: flex;
    justify-content: space-between;
    margin: 22px 12px 0px;
}

.headerModal span{
    cursor: pointer;
    margin-bottom: 18px;
    margin-left: 5px;
    margin-top: -12px;
}

.textAreaModal{
    display: list-item;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-variant-ligatures: none;
    list-style: none;
    font-weight: 400;
    outline: none;
    white-space: pre-wrap;
    word-wrap: break-word;
    text-align: start;
    margin-left: 15px;
    margin-bottom: 15px;
}

.footerModal {
    padding: 6px 0px;
    border-top-style: solid;
    border-top-width: 1px;
    width: 100%;
}

.footerModal span{
    margin-left: 15px;
    cursor: pointer;
}

.footerModal span:hover{
    background-color: rgba(110, 171, 255, 0.58);
}

.labelModal{
    font-weight: 600;
    font-size: 22px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.costPostIt{
    position: inherit;
    margin-top: 30px;
    padding: 0;
    width: 100%;
    grid-column: 4 / 4;
    grid-row: 1;
}

.editorModalNote{
    margin-left: 15px;
    grid-row: 1;
    grid-column: 1 / 4;
}

.containerBodyModal{
    display: grid;
    grid-template-columns: 25% 26% 27% 14%;
    grid-gap: 10px;
}