body {
  padding: 10px;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.fixedBtn a{
  display: flex;
  color: white;
  text-decoration: none;
  text-align: center;
  float: right;
  justify-content: center;
  align-items: center;
  position: inherit;
  border-radius: 80%;
  width: 50px;
  height: 50px;
  z-index: 5;
  background-color: #3F51B5;
  margin-right: 10px;
  top: 10px;
}

.fixedBtn {
  position: absolute;
  right: 65px;
  top: 10px;
}

.btn-group btn-group-justified a{
  z-index: 0;
}